<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Home of Broad View">
        <meta name="keywords" content="Broad, View, Broad View, broad view">
        <meta name="author" content="Piyush Yadav">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>